Nodered/MQTT_Connection/flows.json
[
    {
        "id": "0be0554410a18769",
        "type": "inject",
        "z": "e6ef6080a8493bb2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "46c759a454598300"
            ]
        ]
    },
    {
        "id": "46c759a454598300",
        "type": "debug",
        "z": "e6ef6080a8493bb2",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "53692805fe4fb959",
        "type": "mqtt in",
        "z": "e6ef6080a8493bb2",
        "name": "",
        "topic": "v3/michelles-first-application@ttn/devices/michelles-second-application/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fc34e47f041a0e2b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "654e0ad8611eb40e"
            ]
        ]
    },
    {
        "id": "654e0ad8611eb40e",
        "type": "debug",
        "z": "e6ef6080a8493bb2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "fc34e47f041a0e2b",
        "type": "mqtt-broker",
        "name": "MQTT-TTN",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]